<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDdVZeejq58uDoMxQaIXVjF84OsmBzSxXY</string>
	<key>GCM_SENDER_ID</key>
	<string>302522249063</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.rpadg.buddy</string>
	<key>PROJECT_ID</key>
	<string>buddy-35a81</string>
	<key>STORAGE_BUCKET</key>
	<string>buddy-35a81.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:302522249063:ios:d4e09a1fef2b6fe4d189c2</string>
</dict>
</plist>